<div id="page-wrapper">
    <div class="horizontal-scroll">
        <uib-accordion>
            <div uib-accordion-group heading="LEVHA TANIMLAMA" is-open="isDefOpen" ng-click="controlTabs()"
                 panel-class="bootstrap-panel accordion-panel panel-primary">
                <center>
                     <span ng-if="uploader.queue[0]">
        <img ng-src="{{ image_source }}" width="150" height="150" class="img-thumbnail"><br>
        </span>
                    <img ng-if="!uploader.queue[0] && !vm.picModel.picture_name" src="assets/img/app/empty.jpg" width="150" height="150"
                         class="img-thumbnail">
                    <img ng-if="!uploader.queue[0] && vm.picModel.picture_name" src="/client/getpic/{{vm.picModel.picture_name}}" width="150" height="150"
                         class="img-thumbnail"><br>
         <span class="btn btn-primary btn-file">
        <i href class="change-userpic" class="glyphicon glyphicon-paperclip"></i> Levha Resmi
        <input type="file" nv-file-select uploader="uploader" accept="image/*"
               onchange="angular.element(this).scope().setFile(this)"/>
        </span>
                </center>
                <div class="row">
                    <formly-form model="vm.picModel" fields="vm.picFields">
                    </formly-form>
                    <center>
                        <button class="btn btn-primary" ng-click="vm.test(vm.picModel)"><i
                                class="fa fa-check"></i> Test
                        </button>
                    </center>
                    <formly-form model="vm.typeModel" fields="vm.typeFields" options="vm.options">
                    </formly-form>
                    <center>

                        <button class="btn btn-primary" ng-click="vm.openTypeFields()"><i
                                class="fa fa-plus"></i> Yeni Tip Ekle
                        </button>
                    </center>

                    <formly-form model="vm.model" fields="vm.fields" options="vm.options">
                    </formly-form>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary submit-button"
                                ng-click="vm.save()"><i class="fa fa-save"></i> Kaydet
                        </button>
                        <button type="button" class="btn btn-warning" ng-click="vm.cancel()"><i class="fa fa-times"></i>
                            Vazgeç
                        </button>
                    </div>
                </div>
            </div>

            <div uib-accordion-group heading="TANIMLANMIŞ LEVHA LİSTESİ" is-open="isTableOpen"
                 panel-class="bootstrap-panel accordion-panel panel-default">
                <div class="table-responsive">
                    <h3 class="text-center">Levha Tanımları</h3>
                    <table class="table" st-pipe="vm.callServer" st-table="vm.displayed">
                        <thead>
                        <tr>

                            <th st-sort="no">Numarası</th>
                            <th st-sort="plate_type_label">Levha Tipi</th>
                            <th st-sort="explanation">Açıklama</th>
                            <th st-sort="material">Malzeme</th>
                            <th st-sort="picture_name">Levha Resmi</th>
                            <th>Düzenle</th>
                            <th>Sil</th>

                        </tr>
                        <tr>
                            <th><input st-search="no"/></th>
                            <th><input st-search="plate_type_label"/></th>
                            <th><input st-search="explanation"/></th>
                            <th><input st-search="material"/></th>
                            <th><input st-search="picture_name"/></th>
                            <th></th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody ng-show="!vm.isLoading">
                        <tr ng-repeat="row in vm.displayed">

                            <td>{{row.no | uppercase}}</td>
                            <td>{{row.plate_type_label}}</td>
                            <td>{{row.explanation }}</td>
                            <td>{{row.material }}</td>
                            <td class="col-md-2">
                                <center>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="text-center">
                                                    <img
                                                            src="/client/getpic/{{row.picture_name}}"
                                                            class="img-rounded"
                                                            style="width:5em; height:4em;">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">{{row.rl}}</div>
                                    </div>
                                </center>
                            </td>
                            <td class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" ng-click="editData(row)" title="Düzenle"
                                                class="btn btn-sm btn-dark">
                                            <i class="fa fa-user-md">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" ng-click="vm.delete(row)" title="Sil"
                                                class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tbody ng-show="vm.isLoading">
                        <tr>
                            <td colspan="6" class="text-center">Yükleniyor ...</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


        </uib-accordion>
    </div>
</div>
